db/*
!db/.gitkeep
db56/*
!db56/.gitkeep
mariadb/*
!mariadb/.gitkeep
www/*
!www/site.me
!www/index.html
**/.DS_Store
www/site.me/.idea
server/sites/*
!server/sites/httpd.conf
!server/sites/me.conf
server/ssh/*
!server/ssh/.gitkeep
